*.o
*.a
host-examples/dequeue
host-examples/enqueue
host-examples/read
host-examples/task_ecdsa
host-examples/task_queue_multi
host-examples/thread_dequeue
host-examples/thread_enqueue
host-examples/write
node-examples/dequeue
node-examples/enqueue
node-examples/read
node-examples/task_queue_multi_threaded
node-examples/thread_dequeue
node-examples/thread_enqueue
node-examples/write
com-library/host-gateway/host-gateway
com-library/examples/recvHello
com-library/examples/sendHello